<a href="https://colab.research.google.com/github/Shourya306/EDA-Analaysis/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [94]:
# Importing all the relevent libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import datetime
from datetime import date

In [2]:
pd.set_option('display.max_columns', None)     # This code is used to make pandas display all the columns in the dateset.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [99]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Module 1/M1 - Capstone project/Copy of Global Terrorism Data.csv'
# Encoded with "latin-1" because the default encoding wasn't able to encode the this large file 
full_df = pd.read_csv(file_path, encoding = 'latin-1', low_memory = False)

In [100]:
full_df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,latitude,longitude,specificity,vicinity,location,summary,crit1,crit2,crit3,doubtterr,alternative,alternative_txt,multiple,success,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,corp1,target1,natlty1,natlty1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,corp2,target2,natlty2,natlty2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,corp3,target3,natlty3,natlty3_txt,gname,gsubname,gname2,gsubname2,gname3,gsubname3,motive,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claimmode_txt,claim2,claimmode2,claimmode2_txt,claim3,claimmode3,claimmode3_txt,compclaim,weaptype1,weaptype1_txt,weapsubtype1,weapsubtype1_txt,weaptype2,weaptype2_txt,weapsubtype2,weapsubtype2_txt,weaptype3,weaptype3_txt,weapsubtype3,weapsubtype3_txt,weaptype4,weaptype4_txt,weapsubtype4,weapsubtype4_txt,weapdetail,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent,propextent_txt,propvalue,propcomment,ishostkid,nhostkid,nhostkidus,nhours,ndays,divert,kidhijcountry,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,ransomnote,hostkidoutcome,hostkidoutcome_txt,nreleased,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,1.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,1,Assassination,NaN,NaN,NaN,NaN,14,Private Citizens & Property,68.0,Named Civilian,NaN,Julio Guzman,58.0,Dominican Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MANO-D,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,North America,Federal,Mexico city,19.371887,-99.086624,1.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,6,Hostage Taking (Kidnapping),NaN,NaN,NaN,NaN,7,Government (Diplomatic),45.0,"Diplomatic Personnel (outside of embassy, cons...",Belgian Ambassador Daughter,"Nadine Chaval, daughter",21.0,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23rd of September Communist League,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,NaN,Mexico,1.0,800000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,4.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,1,Assassination,NaN,NaN,NaN,NaN,10,Journalists & Media,54.0,Radio Journalist/Staff/Facility,Voice of America,Employee,217.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,Western Europe,Attica,Athens,37.997490,23.762728,1.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,3,Bombing/Explosion,NaN,NaN,NaN,NaN,7,Government (Diplomatic),46.0,Embassy/Consulate,NaN,U.S. Embassy,217.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,Explosives,16.0,Unknown Explosive Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Explosive,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,East Asia,Fukouka,Fukouka,33.580412,130.396361,1.0,0,NaN,NaN,1,1,1,-9.0,NaN,NaN,0.0,1,0,7,Facility/Infrastructure Attack,NaN,NaN,NaN,NaN,7,Government (Diplomatic),46.0,Embassy/Consulate,NaN,U.S. Consulate,217.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Incendiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [101]:
full_df.shape

(181691, 135)

In [102]:
# Finding out the percentage of null values in an example column.
null_values_weaptype2_txt = full_df[full_df['weaptype2_txt'].isnull()]
Percentage_null_values_weaptype2_txt = (len(null_values_weaptype2_txt['weaptype2_txt']) / len(full_df['weaptype2_txt'])) * 100
round(Percentage_null_values_weaptype2_txt,2)

92.78

* There are **135 columns** in the dateset and it dosen't have sense to analyse all the features of the dateset because:

    1.Most of the features/columns in the dataset contain the same 
    information as the other columns (e.g weaptype1_txt & weaptype2_txt).

    2.And also these columns(not relevent columns) contain a lot of 
    null information (e.g weaptype2_txt contains 93% percent null values.

* So I will subset the above dateset with only those columns that meet the 
satisfy the above 2 conditions

In [103]:
# Subsetting the dataset.
subset_df = full_df[['iyear','imonth','iday','extended','country_txt','region_txt','city','latitude','longitude','success','suicide','attacktype1_txt',
                'targtype1_txt','gname','motive','weaptype1_txt','nkill','nwound']]

In [104]:
subset_df.shape

(181691, 18)

In [105]:
# Making a copy of the subseted dataframe and working only on the copy of the subseted dataframe.
df = subset_df.copy()

In [106]:
# Now it's time to rename the columns to make it more intuitive as to what the columns speak.
df.rename(columns = {'iyear':'year','imonth':'month','iday':'day','country_txt':'country','region_txt':'region','attacktype1_txt':'attack_type',
                            'targtype1_txt':'target','gname':'organisation','weaptype1_txt':'weapon_type','nkill':'killed','nwound':'wounded'},
                 inplace = True)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          181691 non-null  int64
 1   month         181691 non-null  int64
 2   day           181691 non-null  int64
 3   extended      181691 non-null  int64
 4   country       181691 non-null  object
 5   region        181691 non-null  object
 6   city          181257 non-null  object
 7   latitude      177135 non-null  float64
 8   longitude     177134 non-null  float64
 9   success       181691 non-null  int64
 10  suicide       181691 non-null  int64
 11  attack_type   181691 non-null  object
 12  target        181691 non-null  object
 13  organisation  181691 non-null  object
 14  motive        50561 non-null   object
 15  weapon_type   181691 non-null  object
 16  killed        171378 non-null  float64
 17  wounded       165380 non-null  float64
dtypes: float64(4), int64(6), object(8)
memory usage: 25.0+ MB

In [108]:
df.head()

,year,month,day,extended,country,region,city,latitude,longitude,success,suicide,attack_type,target,organisation,motive,weapon_type,killed,wounded
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,1,0,Assassination,Private Citizens & Property,MANO-D,NaN,Unknown,1.0,0.0
1,1970,0,0,0,Mexico,North America,Mexico city,19.371887,-99.086624,1,0,Hostage Taking (Kidnapping),Government (Diplomatic),23rd of September Communist League,NaN,Unknown,0.0,0.0
2,1970,1,0,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,1,0,Assassination,Journalists & Media,Unknown,NaN,Unknown,1.0,0.0
3,1970,1,0,0,Greece,Western Europe,Athens,37.997490,23.762728,1,0,Bombing/Explosion,Government (Diplomatic),Unknown,NaN,Explosives,NaN,NaN
4,1970,1,0,0,Japan,East Asia,Fukouka,33.580412,130.396361,1,0,Facility/Infrastructure Attack,Government (Diplomatic),Unknown,NaN,Incendiary,NaN,NaN

Before we proceed any further lets understand what each of the columns means.
  * year = The year in which attack has taken place.
  * month = The month(represented in numbers) in which the attack has taken   place.
  * day = The day in which the attack has taken place.
  * extended = If the attacked has extended for more than one day then value 1 is assigned and if it isn't then value 0 is assigned.
  * country = The country in which the incident took place.
  * city = The city in which the incident took place.
  * latitude = This feild represents the latitude.
  * longitude = This feild represents the longitude.
  * success = This feild informs us whether the attack was a success or a failure(0 = failure, 1 = Success).
  * suicide = This feild informs us whether the attack was a suicidal or not
  (0 = not suicidal, 1. = suicidal)
  * attack_type = The type of attack.
  * target = The type of target/victim.
  * organisation = Terrorist Organisation that has claimed the attack.
  * motive = The motive behind the attack.
  * weapon_type = The type of weapon used in the attack.
  * killed = The number of people killed in that attack.
  * wounded = The number of people wounded in that attack.

I have divided the **EDA** into 2 parts:
  
  * Part 1 = **Data Cleaning**
  * Part 2 = **Data Analysis**

So let's begin with **Data Cleaning**

In [109]:
# Converting the month column values into months by creating a function and then applying it on every row of the month column.
df['month'].unique()

array([ 7,  0,  1,  2,  3,  4,  5,  6,  8,  9, 10, 11, 12])

In [110]:
def month_conversion(num):
  if num == 0:
     num = 'data not present'
  elif num == 1:
     num = 'jan'
  elif num == 2:
     num = 'feb'
  elif num == 3:
     num = 'mar'
  elif num == 4:
     num = 'apr'
  elif num == 5:
     num = 'may'
  elif num == 6:
     num = 'june'
  elif num == 7:
     num = 'july'
  elif num == 8:
     num = 'aug'
  elif num == 9:
     num = 'sept'
  elif num == 10:
     num = 'oct'
  elif num == 11:
     num = 'nov'
  else:
     num = 'dec'
  return num

In [111]:
df['month_full'] = df['month'].apply(month_conversion)

In [116]:
df.head()

,year,day,extended,country,region,city,latitude,longitude,success,suicide,attack_type,target,organisation,motive,weapon_type,killed,wounded,month_full
0,1970,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,1,0,Assassination,Private Citizens & Property,MANO-D,NaN,Unknown,1.0,0.0,july
1,1970,0,0,Mexico,North America,Mexico city,19.371887,-99.086624,1,0,Hostage Taking (Kidnapping),Government (Diplomatic),23rd of September Communist League,NaN,Unknown,0.0,0.0,data not present
2,1970,0,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,1,0,Assassination,Journalists & Media,Unknown,NaN,Unknown,1.0,0.0,jan
3,1970,0,0,Greece,Western Europe,Athens,37.997490,23.762728,1,0,Bombing/Explosion,Government (Diplomatic),Unknown,NaN,Explosives,NaN,NaN,jan
4,1970,0,0,Japan,East Asia,Fukouka,33.580412,130.396361,1,0,Facility/Infrastructure Attack,Government (Diplomatic),Unknown,NaN,Incendiary,NaN,NaN,jan

In [113]:
# Will be dropping the month column because it is not needed anymore.
df.drop('month',axis = 1, inplace = True)

In [115]:
df.shape

(181691, 18)

Now lets deal with **null values**

I have replaced the motive column null values with unknown.

and also I have replaced the city column null values with unknown.

In [118]:
df['motive'].value_counts()

Unknown                                                                                                                                                                                                                                                                                                                                                                  14889
The specific motive for the attack is unknown.                                                                                                                                                                                                                                                                                                                           14430
The specific motive is unknown; however, sources noted that the attack may have been part of a larger trend of violence related to Bangladesh's nationwide hartal, which began on January 6, 2015.                                                                                                                                                                         297
The specific motive for the attack is unknown..                                                                                                                                                                                                                                                                                                                            148
The specific motive for the attack is unknown or was not reported.                                                                                                                                                                                                                                                                                                         144
                                                                                                                                                                                                                                                                                                                                                                         ...
Doka Umarov and the Riyadus-Salikhin Battalion of Shakhids claimed responsibility for the attack, via message to the Kavkazcenter website that said the bombing was a planned diversionary act directed against the FSB Academy in Moscow in response to the crimes of the FSB on the territory of the North Caucasus.                                                   1
The attack was carried out  to protest the visit of President of India, Pratibha Devi Singh Patil, to Manipur and also that it was carried out to expose alleged covert agenda of the Central Government to push in non-locals into Manipur. The release also stated that the outfit will carry on with the operation clear cut to drive away foreigners on schedule.        1
Authorities suspect the motive of the attack was extortion related.                                                                                                                                                                                                                                                                                                          1
The specific motive for the attack is unknown; however, ULFA militants sent an email on 02/19/2011 warning the Congress of dire consequences ahead of the elections for the alleged divisive tactics adopted by the party to divide the ULFA.                                                                                                                                1
The specific motive is unknown; however, sources stated that the Taliban had warned one of the victims against collaborating with the government.                                                                                                                                                                                                                            1
Name: motive, Length: 14490, dtype: int64

In [119]:
df['motive'].fillna('Unknown',inplace = True)
df['city'].fillna('Unknown',inplace = True)

In [123]:
# Checking if there are any null values in motive and city column
df[df['motive'].isnull()]['motive'].count()

0

In [124]:
df[df['city'].isnull()]['city'].count()

0